<div class="container">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <center>
        <div class="carousel-inner">
          <div class="item active">
            <div class="imageResize">
            <%= image_tag "alaTurca.jpg" %>
            <br>
              <h5>wanna go to ala turca?!</h5>
            </div>
          </div>
          <div class="item">
            <%= image_tag "tandooriChicken.jpg" %>
            <br>
              <h5>Of course we got chicken!</h5>
          </div>
          <div class="item">
            <%= image_tag "halfBaked.png" %>
            <br>
              <h5>AND ICE CREAM!</h5>
          </div>
          <div class="item">
            <%= image_tag "Qalyoon.jpg" %>
            <br>
              <h5>SMOKIN' SHEESHA TO THE DOME!</h5>
          </div>
          <div class="item">
            <div class="imageResize">
              <%= image_tag "gunnin.png" %>
            </div> <!-- /resize --> 
              <br>
              <h5>you're disgusting!</h5>
          </div>
          <div class="item">
            <div class="imageResize">
              <%= image_tag "cosmos.jpg" %>
            </div>
            <br>
            <h5>COSMOS AMIRITE??!</h5>
        </div>
      </center>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    <table>
      <thead>
        <tr>
        <h2>ACTIVITIES!</h2>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <center><button type="button" class="btn btn-primary btn-lg"><div class="color"><%= link_to 'Create New Activity', new_topic_path %></div></button>
      </center>
      <% @topics.each do |topic| %>
      <tr>
        <td><h4><%= link_to topic.title, topic %></h4></td>
        <td><div class="paddingLeft"><h5><%= pluralize(topic.votes.count, "vote") %></div></h5></td>
        <td><div class="upvote"><%= link_to image_tag('upvote.png'), upvote_topic_path(topic), method: :post %></div></td>
        <td><%= link_to 'DELETE ACTIVITY', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
    <div class="spacing"></div>
  <em>you're disgusting</em>
  <div class="spacing"></div>
</div> <!-- /container -->
