<div class="container">
  <script>
    var end = new Date('04/09/2016 7:00 PM')
    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var _day = _hour * 24;
    var timer;
    function showRemaining() {
      var now = new Date();
      var distance = end - now;
        if (distance < 0) {
          clearInterval(timer);
          document.getElementById('topicPageCountDown').innerHTML = 'VOTING IS OVER JERK FACES';
          return;
        }
          var days = Math.floor(distance / _day);
          var hours = Math.floor((distance % _day) / _hour);
          var minutes = Math.floor((distance % _hour) / _minute);
          var seconds = Math.floor((distance % _minute) / _second);

          document.getElementById('topicPageCountDown').innerHTML = days + 'days ';
          document.getElementById('topicPageCountDown').innerHTML += hours + 'hrs ';
          document.getElementById('topicPageCountDown').innerHTML += minutes + 'mins ';
          document.getElementById('topicPageCountDown').innerHTML += seconds + 'secs' + " To MEOW Day!";
        }
      timer = setInterval(showRemaining, 1000);
    </script>
  <div id="topicPageCountDown"></div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <h2><em>Welcome to Jammit</em></h2>
          </tr>
        </thead>  
        <tbody>
          <%= link_to 'Create New Jammit', new_topic_path, class: "btn btn-danger" %>
          <hr/>
          <% @topics.each do |topic| %>
          <tr clas>
            <td>
              <h4><%= link_to topic.title, topic %></h4>
            </td>
            <td>
              <div class="paddingLeft">
                <h5><%= pluralize(topic.votes.count, "vote") %></h5>
              </div>
            </td>
            <td>
              <span class="quiet">
                <small><%= time_ago_in_words(topic.created_at) %> ago</small>
              </span>
            </td>
            <td>
              <%= link_to '<i class="fa fa-arrow-up fa-2x"></i>'.html_safe, upvote_topic_path(topic), method: :post %>                
            </td>
            <td>
              <%= link_to '<i class="fa fa-arrow-down fa-2x"></i>'.html_safe, downvote_topic_path(topic), method: :delete, data: { confirm: "Downvotes are mean guize..." } %>
            </td>
            <td>
              <%= link_to 'DELETE ACTIVITY', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <div class="spacing"></div>
  <em>you're disgusting</em>
  <div class="spacing"></div>
</div> <!-- /container -->