<div class="container">
  <%= render 'shared/countdown' %>
  <div id="topicPageCountDown" class="count-down-style"></div>

  <table class="table table-bordered well">
    <thead>
      <tr>
        <h1 class="jammit-style">JAMMIT NOW!</h1>
          </tr>
        </thead>  
        <tbody>
          <%= link_to 'Create New Jammit', new_topic_path, class: "btn btn-danger" %>
          <br><br>
          <% @topics.each do |topic| %>
          <div class="table-font-color">
          <tr>
            <td>
              <h4 class="table-font-color"><%= link_to topic.title, topic %></h4>
            </td>
            <td>
              <div class="paddingLeft table-font-color">
                <h5><%= pluralize(topic.votes.count, "vote") %></h5>
              </div>
            </td>
            <td>
              <span class="quiet table-font-color">
                <small><%= time_ago_in_words(topic.created_at) %> ago</small>
              </span>
            </td>
            <td>
              <%= link_to '<i class="fa fa-arrow-up fa-2x"></i>'.html_safe, upvote_topic_path(topic), method: :post %>                
            </td>
            <td>
              <%= link_to '<i class="fa fa-arrow-down fa-2x"></i>'.html_safe, downvote_topic_path(topic), method: :delete, data: { confirm: "Downvotes are mean guize..." } %>
            </td>
            <td>
              <%= link_to 'DELETE ACTIVITY', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        </div><!-- /table-font-color -->
        <% end %>
      </tbody>
    </table>
    <div class="spacing"></div>
    <div class="your-disgusting">
      <em>you're disgusting</em>
    </div>
  <div class="spacing"></div>
</div> <!-- /container -->