<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <h3><%= @topic.title %></h3>
	</p>

	<p>
	  <%= @topic.description %>
	</p>
	_______________________________________
	<% @topic.comments.each do |comment| %>
  <p>
    <strong><%= comment.commenter %>:</strong>
  </p>
 
  <p>
    <%= comment.body %>
  </p>
  ________________________________________
	<% end %>

	<h4>Leave a Comment?</h4>
	<em>Its okay comments can't be downvoted... yet...</em>
	<br>
	<%= form_for([@topic, @topic.comments.build]) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :comment %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit class: "btn btn-warning" %>
  </p>
<% end %>

	<%= link_to 'Edit', edit_topic_path(@topic) %> |
	<%= link_to 'Back', topics_path %>
</div> <!-- /container -->