<center>
	<script>
		var end = new Date('02/14/2015 9:00 AM');

		var _second = 1000;
		var _minute = _second * 60;
		var _hour = _minute * 60;
		var _day = _hour * 24;
		var timer;

		function showRemaining() {
			var now = new Date();
			var distance = end - now;
			if (distance < 0) {
				clearInterval(timer);
				document.getElementById('countdown').innerHTML = 'VOTING IS OVER JERK FACES';
				return;
			}
			var days = Math.floor(distance / _day);
			var hours = Math.floor((distance % _day) / _hour);
			var minutes = Math.floor((distance % _hour) / _minute);
			var seconds = Math.floor((distance % _minute) / _second);

			document.getElementById('countdown').innerHTML = days + 'days ';
			document.getElementById('countdown').innerHTML += hours + 'hrs ';
			document.getElementById('countdown').innerHTML += minutes + 'mins ';
			document.getElementById('countdown').innerHTML += seconds + 'secs';
		}

		timer = setInterval(showRemaining, 1000);
		</script>
		
		<div id="countdown"></div>
	<h1>UNTIL JAMJUA DAY</h1>
</center> 
<div>

<div class="container">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <center>
    	<%= link_to "Enter Jammit", topics_path, class: "btn btn-warning" %>
      <div class="carousel-inner">
      	<br>
        <div class="item active">
          <div class="imageResize">
            <%= image_tag "jamjuaBurrito.jpg" %>
            <br>
            <h5>a jamrito in the wild</h5>
          </div>
          </div>
					<div class="item">
            <div class="imageResize">
              <%= image_tag "alaTurca.jpg" %>
            </div>
            <br>
            <h5>wanna go to ala turca?!</h5>
        </div>
          <div class="item">
            <%= image_tag "tandooriChicken.jpg" %>
            <br>
            <h5>Of course we got chicken!</h5>
          </div>
          <div class="item">
            <%= image_tag "halfBaked.png" %>
            <br>
            <h5>AND ICE CREAM!</h5>
          </div>
          <div class="item">
            <%= image_tag "Qalyoon.jpg" %>
            <br>
            <h5>SMOKIN' SHEESHA TO THE DOME!</h5>
          </div>
          <div class="item">
            <div class="imageResize">
              <%= image_tag "gunnin.png" %>
            </div> <!-- /resize --> 
            <br>
            <h5>you're disgusting!</h5>
          </div>
          <div class="item">
            <div class="imageResize">
              <%= image_tag "cosmos.jpg" %>
            </div>
            <br>
            <h5>COSMOS AMIRITE??!</h5>
        </div>


      </center>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>