<!DOCTYPE html>
<html>
<head>
  <title>JAMJUA DAY!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<center>
		<div class="container">
		<script>
		var end = new Date('09/18/2014 10:1 AM');

		var _second = 1000;
		var _minute = _second * 60;
		var _hour = _minute * 60;
		var _day = _hour * 24;
		var timer;

		function showRemaining() {
			var now = new Date();
			var distance = end - now;
			if (distance < 0) {
				clearInterval(timer);
				document.getElementById('countdown').innerHTML = 'EXPIRED!';
				return;
			}
			var days = Math.floor(distance / _day);
			var hours = Math.floor((distance % _day) / _hour);
			var minutes = Math.floor((distance % _hour) / _minute);
			var seconds = Math.floor((distance % _minute) / _second);

			document.getElementById('countdown').innerHTML = days + 'days ';
			document.getElementById('countdown').innerHTML += hours + 'hrs ';
			document.getElementById('countdown').innerHTML += minutes + 'mins ';
			document.getElementById('countdown').innerHTML += seconds + 'secs';
		}

		timer = setInterval(showRemaining, 1000);
		</script>
		
		<div id="countdown"></div>

		<h2> UNTIL JAMJUA DAY!!!! </h2>
		</center>
		<% flash.each do |name,msg| %>
		  <div><%= msg %></div>
		<% end %>
		<%= yield %>
		</div> <!-- /container -->
	</body>
</html>
