<!DOCTYPE html>
<html>
<head>
  <title>JAMMIT</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'monkeyEmoji.png' %>

  <%= csrf_meta_tags %>
</head>
	<body> 
		<%= yield %>
	</body>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
</html>
