<!DOCTYPE html>
<html>
<head>
  <title>JAMJUA DAY!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'monkeyEmoji.png' %>

  <%= csrf_meta_tags %>
</head>
	<body>
	<div class="container">
	<p class="navbar-text pull-right">
	<% if user_signed_in? %>
	  Logged in as <strong><%= current_user.email %></strong>.
	  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
	  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
	<% else %>
	  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
	  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
	<% end %>
	
		<center>
		<script>
		var end = new Date('09/18/2014 10:1 AM');

		var _second = 1000;
		var _minute = _second * 60;
		var _hour = _minute * 60;
		var _day = _hour * 24;
		var timer;

		function showRemaining() {
			var now = new Date();
			var distance = end - now;
			if (distance < 0) {
				clearInterval(timer);
				document.getElementById('countdown').innerHTML = 'JAMJUA DAY HAPPENED!';
				return;
			}
			var days = Math.floor(distance / _day);
			var hours = Math.floor((distance % _day) / _hour);
			var minutes = Math.floor((distance % _hour) / _minute);
			var seconds = Math.floor((distance % _minute) / _second);

			document.getElementById('countdown').innerHTML = days + 'days ';
			document.getElementById('countdown').innerHTML += hours + 'hrs ';
			document.getElementById('countdown').innerHTML += minutes + 'mins ';
			document.getElementById('countdown').innerHTML += seconds + 'secs';
		}

		timer = setInterval(showRemaining, 1000);
		</script>
		
		<div id="countdown"></div>

		<h2> UNTIL JAMJUA DAY!!!! </h2>
		</center>
		<% flash.each do |name,msg| %>
		  <div><%= msg %></div>
		<% end %>
		<script type="text/javascript">
		var _bftn_options = {
		animation: 'banner',
		url: 'http://campaigns.dailykos.com/p/dia/action3/common/public/?action_KEY=1035'
		position: 'bottomright',
		theme: 'dark'
		}
		</script>
		 
		<script src="//fightforthefuture.github.io/battleforthenet-widget/widget.min.js" async> </script>
		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>		 
		<%= yield %>
		</div> <!-- /container -->
	</body>
</html>
